body {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0;
  background-color: #fdf5fa;
  font-family: "Didact Gothic", sans-serif;
}

section {
  height: 100vh;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

header {
  background-image: url("../images/margot-robbie-as-barbie-cq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  border-bottom: #e6418d 5px solid;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

.logo {
  position: relative;
  top: -200px;
  animation: fadeIn 5s;
}

h1 {
  color: #e6418d;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 120px;
}

h2 {
  font-size: 72px;
  font-family: "Dancing Script", cursive;
  color: #e6418d;
  padding: 20px;
}

h3 {
  font-size: 72px;
  font-family: "Dancing Script", cursive;
  color: white;
  padding: 20px;
}

p {
  font-size: 24px;
}

.trailer {
  translate: 0px -150px;
}

iframe {
  border: #e6418d 5px solid;
  border-radius: 9px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

.main {
  background-color: white;
  border-radius: 9px;
  padding: 10px;
  max-width: 800px;
}

.ryanGosling {
  border-top: #e6418d 5px solid;
  border-bottom: #e6418d 5px solid;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ryanGosling img {
  border-left: #e6418d 10px solid;
}

.ryanGosling ul {
  list-style: none;
  font-size: 32px;
  color: #e6418d;
  line-height: 100px;
  margin-top: 20px;
}

.margotRobbie {
  border-top: white 5px solid;
  border-bottom: white 5px solid;
  background-color: #e6418d;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.margotRobbie img {
  display: block;
  border-right: white 10px solid;
}

.margotRobbie ul {
  list-style: none;
  font-size: 32px;
  color: white;
  line-height: 100px;
  margin-top: 20px;
}

.cast {
  margin-top: 100px;
}

.castWrapper img {
  padding: 10px;
}

.castWrapper {
  max-width: 1200px;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  background-color: white;
  border: #e6418d 5px solid;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallerySection {
  background-color: white;
  border-top: #e6418d 5px solid;
  border-bottom: #e6418d 5px solid;
}

.photoOne {
  max-width: 350px;
  border: #e6418d 5px solid;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  translate: 5px 25px;
  transform: rotate(25deg);
}

.photoTwo {
  max-width: 300px;
  border: #e6418d 5px solid;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  translate: 0px 45px;
  transform: rotate(-15deg);
}

.photoThree {
  max-width: 1000px;
  border: white 5px solid;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  margin-bottom: 20px;
}

.photoFour {
  max-width: 400px;
  border: #e6418d 5px solid;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  translate: 15px 70px;
  transform: rotate(20deg);
}

.photoFive {
  max-width: 300px;
  border: #e6418d 5px solid;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  translate: -10px 70px;
  transform: rotate(-15deg);
}

.quotes {
  font-size: 50px;
  padding: 50px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: #e6418d;
}

a {
  color: white;
  text-decoration: none;
  font-family: "dancing script";
}

i {
  padding: 30px;
  font-size: 32px;
}
